@import url("./font/font-awesome-4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
header {
  width: 100%;
  height: auto;
  overflow: hidden;
  font-family: 'Slabo 27px', serif;
  background: white;
  z-index: 2;
  margin-bottom: 150px; }

:root {
  font-size: 20px; }

span {
  font-size: 2rem; }

a {
  text-decoration: none;
  color: white; }

.flex {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }


.flex.flex-center {
  justify-content: center; }

.flex.flex-space-around {
  justify-content: space-around; }

.flex.flex-space-between {
  justify-content: space-between; }

.nav-profile-img-wrapper {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background: lightskyblue;
  margin: 0;
  height: 100vh; }

.text-center {
  text-align: center; }

strong {
  display: block; }

.none-list-style {
  list-style: none; }

.none-list-style li {
  margin: 10px 0; }

.right {
  float: right; }

.title {
  font-size: 2rem; }

i {
  margin: 0 10px; }

.font-italic {
  font-style: italic; }

.content {
  margin: 20px 20px; }

.footer {
  z-index: -1;
  color: white;
  height: 150px;
  bottom: 0;
  width: 100%;
  background: black;
  position: fixed; }

.footer a {
  color: white; }

.footer ul {
  list-style: none; }

@media screen and (max-width: 760px) {
  :root {
    font-size: 16px; }
  .col-1 {
    width: 400px; }
    }
